[Unit]
Description=Endorium Nexus API
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
EnvironmentFile=-/etc/endorium-nexus/endorium-nexus.env
WorkingDirectory=/var/lib/endorium-nexus
ExecStart=/usr/bin/nexus-api
AmbientCapabilities=CAP_NET_BIND_SERVICE
StateDirectory=endorium-nexus
RuntimeDirectory=endorium-nexus
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target

