[Unit]
Description=Endorium Nexus PKI and APT Runtime
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
DynamicUser=yes
EnvironmentFile=-/etc/endorium-nexus/endorium-nexus.env
WorkingDirectory=/var/lib/endorium-nexus
ExecStart=/usr/bin/nexus-pki-repo
StateDirectory=endorium-nexus
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target

